.formControl {

}

.formControl.error input ,
.formControl.error textarea {
    border: solid 2px #810b0b;;
}
.formControl.error span {
    color: #810b0b;
}
.formSummuryError {
    border: 2px saddlebrown solid;
    color: saddlebrown;
}
.button {
    margin-left: 10px;
    color: #50b5ff;
    background-color: rgb(226, 239, 252);
    opacity: 1;
    box-shadow: unset;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    /*width: 70px;*/
    padding: 8px 15px;
    /*height: 30px;*/
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fieldWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    /*background-color: saddlebrown;*/
    width: 100%;
}
.field {

}
.textBeforeInput {
    padding-bottom: 27px;
    padding-left: 10px;
}