.formControl {

}

.formControl.error input ,
.formControl.error textarea {
    border: solid 2px #810b0b;;
}
.formControl.error span {
    color: #810b0b;
}
.formSummuryError {
    border: 2px saddlebrown solid;
    color: saddlebrown;
}