.pages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.page {
    color: #777d74;
    margin: 0 10px;
    cursor: pointer;
}
.currentPage {
    color: #50b5ff;
    margin: 0 10px;
    cursor: pointer;
    /*background-color: rgb(226, 239, 252);*/
    /*opacity: 1;*/
    /*box-shadow: unset;*/
    /*border-radius: 10px;*/
    /*width: 30px;*/
    /*text-align: center;*/
}
.button {
    color: #50b5ff;
    background-color: rgb(226, 239, 252);
    opacity: 1;
    box-shadow: unset;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    border: none;
    width: 55px;
    height: 30px;
}