.banner {
    width: 98%;
    height: 300px;
}
.avatarContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
}
.avatar {
    width: 100px;
    border-radius: 50%;
}
.inputFile {
    border: none;
}
.status {
    padding-bottom: 35px;
}
.button {
    margin-left: 10px;
    color: #50b5ff;
    background-color: rgb(226, 239, 252);
    opacity: 1;
    box-shadow: unset;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    /*width: 70px;*/
    padding: 8px 15px;
    /*height: 30px;*/
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}