.dialog {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

a{
    text-decoration: none;
    color: #60658a;
    font-weight: 500;

}
.active {
    /*background-color: #dcf0ff;*/
    color: #50b5ff;
}
.avatar {
    width: 50px;
    margin-right: 15px;
    border-radius: 50%;
}