.app {
  display: flex;
  flex-wrap: wrap;
}

.content {
  background-color: #f8f9fa;
  flex-basis: 85%;

}
.wrapperContent {
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 90px;
  background-color: #fff;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  min-height: 80%;
  /*color: #777d74;*/
  color: #555770;
  /*display: flex;*/
  /*align-items: flex-start;*/
  /*justify-content: center;*/
  /*display: table;*/
  /*table-layout: fixed;*/


}